html {
  background: $color-b;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0;
}

a {
  text-decoration: none;
  transition: all .1s ease;
}

h1 {
  break-after: avoid;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h2 {
  break-after: avoid;
  font-size: 22px;
}

h3 {
  font-size: 16px;
  color: #333;
}

.loaded {
  transition: all .3s ease;
  opacity: 1;
}

