.button {
  border-radius: 3px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  padding: 18px 26px;
  transition: all .2s ease;

  &:hover {
    background: $Color-Theme-1-5-rgba;
    color: $Color-Theme-1-4-rgba;
  }
}

.tag {
  border-radius: 5px;
  background: $color-c;
  padding: 4px 6px;
  margin-right: 6px;
}