.home {
  // background: $color-b;
  height: 100vh;
  position: relative;

  h1 {
    color: $color-d;
    font-size: 3.5em;
    margin: 10px 0;
  }

  main {
    position: relative;
    max-width: 500px;
    margin-left: 15%;
    margin-top: 15%;
    z-index: 1;
  }

  .name {
    color: $Winter-Sunset-2-rgba;
    font-size: 2em;
  }

  .controls {
    margin-top: 38px;
  }

  .portfolio-btn {
    margin-right: 6px;
    background: $accent-a;
    color: $color-a;
    &:hover {
      background: $color-a;
      color: $accent-a;
    }
  }

  .contact-btn {
    border: 1px solid $color-a;
    background: $color-e;
    color: #ccc;
    &:hover {
      border: 1px solid $accent-b;
      color: #fff;
    }
  }

  .portrait {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: -5;
    overflow: hidden;

    .scrim {
      position: absolute;
      content: '';
      background: rgba(0,0,0,0.5);
      width: inherit;
      height: inherit;
    }

    img {
      margin-top: 15%;
      position: absolute;
      // width: 50%;
      height: 70%;
      z-index: -1;
      filter: grayscale(.2) blur(1px) opacity(.7);

    }
  }
}