.project {
  height: 100vh;
  overflow-y: scroll;
  @include scrollbars(12px, #555, $color-b);

  img {
    max-width: 600px;
    max-height: 600px;
  }

  h1 {
    color: #ccc;
    font-size: 3.5rem;
  }

  main {
    align-items: center;
    color: $color-d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 22px;
  }

  .title {
    width: 80vw;
    flex: 3 0 auto;
  }

  .content {
    width: 80vw;
  }

  .control {
    width: 80vw;
    margin-bottom: 16px;

    span {
      font-size: 1.1rem;
      font-weight: 600;
      margin-right: 6px;
      color: #eee;
      transition: all .15s ease;
    }

    a:hover {
      span {
        color: $accent-a;
        margin-right: 14px;
      }
    }

    .btn {
      padding: 10px;
    }
  }

  .links {
    width: 80vw;
    margin: 42px 0;

    .button {
      background: #333;
      color: #ddd;
      margin-right: 6px;

      &:hover {
        background: #ddd;
        color: #111;
      }
    }
  }
}