<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Joshua's Portfolio</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="home">
    <div class="top-bar"></div>
    <div class="main">
      <!-- bio and links -->
      <div class="bio">
        <span class="hello">- Hello</span>
        <h1>I'm Joshua Cox.</h1>
        <p>Software Engineer recently graduated from Oregon State University. I love taking new challenges and learning the skills to tackle them, whether full-stack web apps or embedded Arduino programs.</p>
      </div> <!-- bio -->

      <div class="controls">
        <a href="https://github.com/jonoco" class="btn">
          <i class="github-icon"></i>
          <span>Github</span>
        </a>
        <a href="https://www.linkedin.com/in/jonoco/" class="btn">
          <i class="linkedin-icon"></i>
          <span>Linkedin</span>
        </a>
      </div> <!-- controls -->
    </div>
    <aside>
      <!-- scroll list of projects -->
      <div class="projects">
        {% assign projects = site.projects | where: "publish", true | sort: "date" | reverse %}
        {% for project in projects %}
        <div class="project">
          <a href="{{ project.url }}">
            <div class="project-card">
              <p class="date">{{ project.date | date: "%Y" }}</p>
              <div class="body">
                <div class="tags">
                {% for tag in project.tags %}
                  {% assign tagClass = tag | replace: "+", "p" | replace: "#", "sharp" %}
                  <span class="tag {{ tagClass }}">{{ tag | upcase }} </span>
                {% endfor %}
                </div> <!-- tags -->

                <p class="title">{{ project.title }}</p>
                <p class="summary">{{ project.summary }}</p>
              </div> <!-- body -->

            </div> <!-- project-card -->
          </a>
        </div>
        {% endfor %}
      </div>
    </aside>
  </div> <!-- home -->

  <script type="module" src="/assets/js/script.js?v={{ site.time | date: '%s' }}"></script>
</body>
</html>