<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Joshua's Portfolio</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="project">
    {% include navigation.html %}

    <main>
      <div class="title">
        <h1>{{ page.title }}</h1>
      </div>

      <span class="links">
        {% for link in page.links %}
          <a href="{{ link.link }}">
            <span class="button">{{ link.name }}</span>
          </a>
        {% endfor %}
      </span> <!-- links -->

      <div class="content">
        {{ content }}
      </div>
    </main>
  </div>

  <script type="module" src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>
</html>