<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Joshua's Portfolio</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="projects">
    {% include navigation.html %}

    <main>
      <h1>What I've been working on</h1>

      {% assign projects = site.projects | where: "publish", true | sort: "date" | reverse %}
      {% for project in projects %}
        <div class="project-card">
          <div class="head">
            <a href="{{ project.url }}" class="title">
              <span>{{ project.title }}</span>
            </a>

            <div class="tags">
              <span class="bracket">{ </span>
              {% for tag in project.tags %}
                {% assign tagClass = tag | replace: "+", "p" | replace: "#", "sharp" %}
                <span class="tag {{ tagClass }}">{{ tag }} </span>
              {% endfor %}
              <span class="bracket"> }</span>
            </div> <!-- tags -->
          </div> <!-- head -->
          <div class="body">
            <p class="summary">{{ project.summary }}</p>

            <span class="date">{{ project.date | date: "%Y" }}</span>
          </div> <!-- body -->
        </div>
      {% endfor %}

    </main>
  </div>

  <script type="module" src="/assets/js/script.js"></script>
</body>
</html>